<!DOCTYPE html>
<html>
<head>
    <title>Szczegóły Maszyny</title>
</head>
<body>
    <h1>Szczegóły Maszyny</h1>
    <p>Nazwa: {{ machinery.name }}</p>
    <p>Ceny Wynajmu za dzień: {{ machinery.rental_price_per_day|floatformat:2 }}</p>
    <h2>Kategorie</h2>
    <ul>
        {% for category in machinery.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>

    <h2>Komentarze</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>

    <!-- Link do dodawania komentarza -->
    <a href="{% url 'add_comment' machinery_id=machinery.id %}">Dodaj Komentarz</a>
</body>
</html>
